.single-cart {
  display: flex;
  align-items: center;
  margin: 0 15px;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid rgb(228, 222, 222);
}

.item-desc {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.single-cart img {
  width: 150px;
  max-width: 30vw;
}

.trash-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trash-price p {
  font-weight: bold;
  margin-top: 30px;
}

.single-cart small {
  display: block;
  margin-top: 5px;
}

.single-cart .name {
  color: #0072bc;
  font-weight: bold;
  cursor: pointer;
}

.single-cart .name:hover {
  text-decoration: underline;
}

.empty {
  display: block;
  text-align: center;
  font-size: 17px;
  margin: 20px 0;
  font-family: 30px;
}

.cart-title,
.total-price {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  margin-top: 20px;
  align-items: center;
}

.cart-btn-group {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.go-cart,
.go-shop {
  width: 100%;
  display: block;
  padding: 15px 0;
  margin: 10px 0;
  user-select: none;
  border: none;
  cursor: pointer;
}

.go-cart {
  background-color: #deecf7;
}

.go-shop {
  background-color: #e9eaeb;
}

.go-cart:hover {
  background-color: #d0e2f1;
}

.go-shop:hover {
  background-color: #eef1f3;
}

@media (max-width: 450px) {
  .single-cart .name {
    font-size: 13px;
  }

  .trash-price {
    font-size: 13px;
  }
  .trash-price p {
    margin-top: 10px;
  }
  .single-cart {
    margin: 5px;
  }
  .single-cart small {
    margin-top: 5px;
  }
  .cart-title,
  .total-price {
    margin: 8px;
  }
}
