.create-account-parent {
  width: 1200px;
  max-width: 95vw;
  margin: 0 auto;
}

.create-account-parent h2 {
  margin-bottom: 20px;
}

.create-account-parent .line {
  margin: 10px 0;
}

.create-account-parent h4 {
  margin-top: 30px;
}

.create-account-parent .did-floating-input {
  padding: 25px;
}

.create-account-parent .did-floating-label,
.create-account-parent svg {
  top: 15px;
}

.email-join-parent,
.name-join-parent {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, auto));
  margin-bottom: 30px;
}

.radio-join-parent {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.radio-join-parent div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-join-parent div input,
label {
  cursor: pointer;
}

.postal-code-join-parent {
  display: flex;
  max-width: 95vw;
  gap: 20px;
}

.postal-code-join-parent div:first-child {
  width: 300px;
}

.title {
  display: block;
  opacity: 0.4;
  font-size: 13px;
}

.create-account-parent .line {
  margin: 15px 0 25px 0;
}

.create-account-parent p {
  opacity: 0.6;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.subscribe-join-parent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe-join-parent label {
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.create-account-parent .btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}

.btn-container button {
  padding: 20px 0;
  width: 400px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: rgb(54, 52, 52);
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.create-acc-pw{
  max-width: 95vw;
}

.create-acc-pw span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  opacity: 0.7;
}

form small {
  color: red;
}

.pwstrength {
  margin-top: 20px;
  width: 100%;
  height: 8px;
  background-color: rgb(227, 224, 224);
  border-radius: 15px;
  border-radius: 10px;
}

.pwstrength div {
  border-radius: 10px;
  height: 100%;
}

.pwstrength.red div {
  background-color: red;
  width: 30%;
}

.pwstrength.yellow div {
  background-color: rgb(214, 214, 5);
  width: 50%;
}

.pwstrength.orange div {
  background-color: orange;
  width: 80%;
}

.pwstrength.green div {
  background-color: green;
  width: 100%;
}

.create-acc-pw span {
  margin-top: 10px;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .create-account-parent .btn-container {
    justify-content: center;
  }
}
