.hero-parent {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 2%;
  max-height: 800px;
  padding: 0px 40px;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.left-section svg {
  font-size: 27px;
  fill: rgb(114, 111, 111);
  user-select: none;
}

.left-section span {
  color: rgb(114, 111, 111);
  cursor: pointer;
  font-size: 20px;
  gap: 5px;
  display: flex;
  user-select: none;
  align-items: center;
}

.left-section hr {
  width: 25px;
  height: 3px;
  border: none;
  background-color: #22eaaa;
}

.left-section svg:first-child {
  transform: rotate(90deg);
}

.left-section svg:last-child {
  transform: rotate(270deg);
}

.left-section span:nth-child(2n) {
  margin: 20px 0;
}

.left-section span.active,
.left-section svg.active {
  color: black;
  font-size: 27px;
  font-weight: bold;
  fill: black;
  cursor: pointer;
}

.right-section {
  display: flex;
  writing-mode: vertical-rl;
}

.right-section span {
  cursor: pointer;
}

.right-section span:nth-child(2) {
  margin: 30px 0;
}

.middle-section h1 {
  font-size: 50px;
}

.middle-section p {
  margin: 20px 0;
  font-size: 19px;
  color: rgb(114, 111, 111);
}

.buy {
  border: none;
  border-radius: 5px;
  background-color: #22eaaa;
  padding: 10px;
  cursor: pointer;
}

.middle-section button:hover {
  background-color: #09cc8e;
}

.bike-img {
  position: relative;
  z-index: -1;
}

.bike-img img {
  width: 800px;
  max-width: 70vw;
  transform: translateY(-120px);
}

.bike-img div {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50px;
  position: absolute;
  background: linear-gradient(90deg, rgba(246, 246, 251, 1) 0%, #22eaaa 100%);
  top: 12%;
  left: 21%;
  z-index: 1;
  font-weight: bold;
}

.bike-img svg {
  font-size: 50px;
  transform: translate(-40px, -20px);
}

.animate {
  animation: animate-img 0.7s linear;
  transform-origin: center;
}

@keyframes animate-img {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .left-section svg {
    font-size: 20px !important;
  }

  .left-section span {
    font-size: 16px;
  }

  .left-section span.active {
    font-size: 20px;
  }

  .left-section hr {
    width: 15px;
  }

  .middle-section h1 {
    font-size: 40px;
  }

  .right-section span {
    font-size: 13px;
  }

  .bike-img div {
    top: 60%;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 700px) {
  .bike-img div {
    font-size: 12px;
    padding: 5px 10px;
  }

  .buy {
    margin-bottom: 50px;
  }

  .left-section span {
    font-size: 18px;
  }

  .left-section span.active{
    font-size: 22px;
  }

  .right-section {
    display: none;
  }

  .hero-parent {
    margin-top: 50px;
  }

  .middle-section h1 {
    font-size: 35px;
  }

  .buy {
    padding: 8px;
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .bike-img img {
    transform: translateY(-100px);
    max-width: 90vw;
  }
  .hero-parent {
    padding: 0 10px;
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .left-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30%;
  }

  .middle-section h1 {
    font-size: 25px;
  }

  .left-section span {
    flex-direction: column;
  }
  .left-section svg:first-child {
    transform: rotate(0deg);
  }

  .left-section svg:last-child {
    transform: rotate(180deg);
  }

  .left-section span:nth-child(2n) {
    margin: 0 20px;
  }

  .middle-section {
    height: 350px;
  }

  .bike-img div {
    top: 57%;
  }
}
