* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Nunito;
}

.outofstock svg:first-child,
.dis-btn,
.outofstock {
  opacity: 0.5;
  pointer-events: none;
}